@model Stevens_Kevin_HW7A.Models.RecipeViewModel

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>RecipeViewModel</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IngredientName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IngredientName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MeasurementType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MeasurementType)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MeasurementQuantity)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MeasurementQuantity)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PrepTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PrepTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CookTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CookTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TotalCost)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TotalCost)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Notes)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Notes)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.InstructionText)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.InstructionText)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.RecipeViewModelID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
