@model Stevens_Kevin_HW7A.Models.DayConfig

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>DayConfig</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Recipe.RecipeName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Recipe.RecipeName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MenuType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MenuType)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Date }) |
    @Html.ActionLink("Back to List", "Index")
</p>
